#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=eth0 --gateway=192.168.1.254 --ip=192.168.1.201 --nameserver=8.8.8.8,8.8.4.4 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=blocknet

# Root password
rootpw --iscrypted $6$5rxfIWqCRSCF.nsK$d5JJH2ggMyWGmaksWTQYeY.JuvXJCqK5/jgXLPHyJPCaOIAmG1J0nkHdy34iwGgDyVk1DAOatIXEtIXLLNEAg/
# Do not configure the X Window System
skipx
# System timezone
timezone America/New_York --isUtc
user --name=jokay --password=$6$WhwzPR2EdHuHdYvt$MNz5qdbzyQ9vkFmd5HvK8DutSa8nS0Ncse6NER737w8ZJZlOOeGNHwiv9WNsEev06lTgaoIJZetB69boWnNFu/ --iscrypted --gecos="Jonathan "Virtualized" Kay"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=vda

%packages
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
